automation/competitor-ingest.workflow.json
{
  "name": "AIgnis — Competitor Market Ingest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 6 hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.AIGNIS_API || 'http://localhost:8787' }}/streams/info",
        "options": {}
      },
      "id": "fetch-sources",
      "name": "List ingest sources",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Normalize scraped/competitor signals into a clean shape.\nconst sources = $json.sources || [];\nreturn sources.map((s) => ({ json: { source: s.id, label: s.label, ingestedAt: new Date().toISOString() } }));"
      },
      "id": "normalize",
      "name": "Normalize signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.AIGNIS_API || 'http://localhost:8787' }}/inventory",
        "options": {}
      },
      "id": "ingest",
      "name": "Refresh inventory context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Every 6 hours": { "main": [[{ "node": "List ingest sources", "type": "main", "index": 0 }]] },
    "List ingest sources": { "main": [[{ "node": "Normalize signals", "type": "main", "index": 0 }]] },
    "Normalize signals": { "main": [[{ "node": "Refresh inventory context", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "AIgnis" }]
}
